

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">NG-Movies</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [class.active]="menu === 'movie'">
        <a class="nav-link" (click)="opcaoMenu('movie')"  routerLink=".">Filmes </a>
      </li>
      <li class="nav-item" [class.active]="menu === 'tv'">
        <a class="nav-link" (click)="opcaoMenu('tv')" routerLink=".">Séries</a>
      </li>
      <li class="nav-item" [class.active]="menu === 'destaque'">
        <a class="nav-link" (click)="destaques(); menu = 'destaque'"  routerLink=".">Em alta</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input name="busca" [(ngModel)]="busca" class="form-control mr-sm-2" type="search" placeholder="Pesquisar..." aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="searchMovie()" type="submit">Buscar</button>
    </form>
  </div>
</nav>

<div class="row">
  <div class="col-sm-4" *ngFor="let resultado of resultados$ | async">
    <div >
      <app-filme-card [filme]="resultado"></app-filme-card>
    </div>
  </div>
</div>

<div [class.fixed-bottom]="(resultados$ | async) && (resultados$ | async).length < 10" class=" d-flex fixed-bottom justify-content-center">
  <div [hidden]="!paginas"   class="row">
    <div class="col-xs-12 col-12">
      <pagination [(ngModel)]="currentPage" [totalItems]="paginas" [maxSize]="10"
      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
      (pageChanged)="paginator($event.page)"></pagination>
    </div>
  </div>
</div>

