

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">NG-Movies</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [class.active]="menu === 'movie'">
        <a class="nav-link" (click)="clickMenu('movie')"  routerLink=".">Filmes </a>
      </li>
      <li class="nav-item" [class.active]="menu === 'tv'">
        <a class="nav-link" (click)="clickMenu('tv')" routerLink=".">Séries</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input name="busca" [(ngModel)]="busca" class="form-control mr-sm-2" type="search" placeholder="Pesquisar..." aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0"[disabled]="!busca" (click)="buscar()" type="submit">Buscar</button>
    </form>
  </div>
</nav>



<router-outlet></router-outlet>
