
<div class="detalhe container">
 <h4>Popularidade</h4> {{ detalhe.popularity}}
  <h4>Generos</h4>
  <ul>
    <li *ngFor="let genero of detalhe.genres" > {{ genero.name }}</li>
  </ul>
  <h4>Sinópes</h4> {{ detalhe.overview }}
  <h4>DATA DE LANÇAMENTO</h4> {{ detalhe.release_date }}
  <h4> PAÍSES GRAVADOS </h4>
  <ul>
    <li *ngFor="let pais of detalhe.production_countries" > {{ pais.name }}</li>
  </ul>
  <h4>PRODUTORAS</h4>
  <ul>
    <li *ngFor="let produtora of detalhe.production_companies" > {{ produtora.name }}</li>
  </ul>
</div>
